<form class="ad-form" dir="rtl">

  <h2 class="form-title">
    {{ ad.id ? 'עריכת מודעה' : 'הוספת מודעה' }}
  </h2>

  <div class="form-group">
    <label>כותרת מודעה</label>
    <input [(ngModel)]="ad.title" name="title" />
  </div>

  <div class="form-group">
    <label>תיאור</label>
    <textarea [(ngModel)]="ad.description" name="description"></textarea>
  </div>

  <div class="form-group">
    <label>מיקום</label>
    <input [(ngModel)]="ad.location" name="location" />
  </div>

  <div class="form-group">
    <label>איש קשר</label>
    <input [(ngModel)]="ad.contactName" name="contactName" />
  </div>

  <div class="form-group">
    <label>טלפון</label>
    <input [(ngModel)]="ad.phone" name="phone" />
  </div>

  <div class="form-group">
    <label>תמונה</label>

    <div class="image-upload">
      <button type="button" (click)="fileInput.click()">
      בחר תמונה
      </button>
      <button *ngIf="ad.imageBase64" type="button" class="remove-image" (click)="removeImage()">
      הסר תמונה
      </button>
      <input type="file" accept="image/*" hidden #fileInput (change)="onImageSelected($event)"/>
    </div>

    <img *ngIf="ad.imageBase64"
        [src]="ad.imageBase64"
        style="max-width: 200px; margin-top: 10px;" />
  </div>

  <div class="form-actions">
    <button class="primary" type="button" (click)="onSave()">שמור</button>
    <button class="secondary" type="button" (click)="onCancel()">ביטול</button>
  </div>

</form>

